<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <title>Numbers</title>
</head>
<body>
 <center>
  <table width="150">
      <tr>
	<td class="add">
	  <%= @n1 %><br />+ <%= @n2 %>
	</td>
      </tr>
      <tr><td><center><a class="next" onClick="document.location.reload(true)" href>Next</a></center></td></tr>
  </table>
 </center>
</body>
</html>
