<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css" type="text/css" />
  <title>Number/Word Recognition</title>
</head>
<body>

<p align="center">
  <a href="/numbers">Numerical Numbers</a><br />
  <a href="/numbers/words">Numerical Words</a><br />
</p><p align="center">
  <a href="/words">Words</a><br />
</p>
</body>
</html>
