<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <title>Numbers</title>
</head>
<body>
 <center>
  <table width="150">
      <tr><td class="number"><%= @number %></td></tr>
      <tr><td><center><a class="next" href="/">Next</a></center></td></tr>
  </table>
 </center>
</body>
</html>
